<div class="mx-auto" style="width: 300px;">


    <% if @user.errors.any? %>
    <%= @user.errors.count %>errors prohibited this book from being saved:
      <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
    <% end %>




    <h2>User info</h2>

    <%= form_with model: @user do |f| %>

    <div>

    <p>Name</p>

    <%= f.text_field :name%>

    <p>Image</p>
    <%= f.file_field :profile_image, accept: "image/*" %>

    <p>Introduction</p>

    <%= f.text_area :introduction %>

    <br>

    <%= f.submit 'Update User' ,class:"btn btn-secondary" %>

    </div>

    <% end %>

</div>