<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "Edit", edit_user_path(@user) %></p>
  <% end %>
</div>

<% @books.each do |book| %>

  <div>

    <h3>Title</h3>
      <p><%= @book.title %></p>

    <h3>body</h3>
      <p><%= @book.body %></p>

  </div>


<% end %>