<% @books.each do |book| %>


<div class = "container">
  <div class = "row">


    <div class = "col-md-4">

    <h2>User info</h2>


    <% if book.profile_image.attached? %>
      <%= image_tag book.image, size: "100x100" %>
    <% else %>
      <%= image_tag 'images/no_image', size: "100x100" %>
    <% end %>



    <div>

      <p>name：<%= book.user.name %></p>
      <p>introduction： <%= book.user.introduction %></p>

    </div>


    <h2>New Book</h2>

    <%= form_with model: @book,url:'/books',method: :post do |f| %>

    <div>
      <p>Title</p>
      <%= f.text_field :title %>
    </div>

    <div>
      <p>Opinion</p>
      <%= f.text_area :body %>
    </div>

    <%= f.submit 'Create Book' %>

    </div>

      <div class = "col-md-8">

        <h2>Books</h2>

        <p>Title</p>
          <p><%= @book.title %></p>

        <p>Opinion</p>
          <p><%= @book.body %></p>

      </div>
  </div>
</div>


    <% end %>

 <% end %>
